[user]
	name = turanegaku
	email = turanegaku@gmail.com
[color]
	status = auto
	diff = auto
	branch = auto
	grep = auto
[alias]
	st = status
  ad = add
	cm = commit -m
	bn = branch
	co = checkout
	cob = checkout -b
  sh = stash -u
  shp = stash pop
	cancel = reset --soft HEAD~
	back = reset --hard HEAD~
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[credential]
	helper = cache
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/dotfiles/.gitignore
[push]
	default = simple
[pull]
	rebase = preserve
